body {
    font-family: "New Tegomin", serif;
    margin: 2% 0;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
}
    
.card0 {
    display: block;
    margin: 0 auto;
}
#top-page{
    margin: 2% 1%;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.searchBar {
    margin: 0 auto;
}

.secondColumnOfTopPage{
    text-align: center;
}
    
.mainCity {
    margin-top: 10%;
    padding-top: 2%;
    text-align: center;
    text-transform: capitalize;
}
.main-city-related-infos{
    font-size: 14px;
}
.weatherDescription{
    text-align: center;
    
    color: gray;
    text-transform: capitalize;  
}

#main-city-icon{
    margin-left: 20%;
    width: 39%;
    padding-top: 2%;
}
    
.cityTemperature {
    text-align: center;
    
}
#city-temperature-value{
    font-size: 70px;
    padding-top: 5%;
    vertical-align: middle;
}
    
.currentDate{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: gray;
}
.degreeAppeariance{
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: relative;
    top: -15px;
}
.degreeAppeariance .active{
    color :rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
}
#fahrenheit{
    text-decoration: none;
}
.degreeAppeariance .active:hover {
    text-decoration: none;
}
    
.bars {
    height: 10rem;
    margin-top: -2rem;
}
.forecastDate{
    opacity: 0.75;
}
.forecastTemperature{
    opacity: 0.7;
}

.weather-forecast-temperature-min{
    opacity: 0.5;
}
.card-body3 {
    font-size: 20px;
}
#card-body-four{
    display: block;
    margin-left: 5%;
}    
.card-body4 {
    
    padding: 5%;
    font-size: 22px;
}

p{
    margin-left: 5%; 
}
    

    